.interface {
    display: inline-block;
}

.board {
    margin-bottom: 10px;
    display: inline-block;
    border: 2px solid black;
}

.blocks {
    display: grid;
    grid-template-columns:  repeat(3, 150px);
    grid-template-rows:   repeat(3, 150px);

}


.block {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;

}


button {
    height: 30px;
    width: 70px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}



.box {
    width: 33%;
    height: 33%;
    cursor: pointer;
    border: 1px solid black;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}
